# runtime
blazegraph/
data_oxigraph/
basic/test.json
/basic/researchspace
/full-setup/researchspace
/custom/researchspace/runtime-data/data/repositories/tests/lock
/custom/researchspace/runtime-data/data/repositories/tests/lock